.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.container__cta{
    align-items: center;
    background: #F564A9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500PX;
    width: 100%;

}

.container__cta h2{
    color: white;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 60%;

}

/* ---- RESPONSIVIDADE ---- */

/* Tablets e Telas Menores (até 1024px) */
@media (max-width: 1024px) {
    .container__cta {
        height: 400px;
    }
    .container__cta h2 {
        font-size: 2.5rem;
        width: 80%;
    }
}

/* Dispositivos Móveis (até 768px) */
@media (max-width: 768px) {
    .container__cta {
        height: auto; /* Altura automática */
        padding: 80px 20px; /* Adiciona padding vertical e horizontal */
    }
    .container__cta h2 {
        font-size: 2rem;
        width: 95%;
    }
}