.btn-primary {
  background: black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  height: 50px;
  width: 380px;
}

.btn-primary:hover{
  background: rgb(255, 255, 255);
  color: black;
}

.btn-secondary {
  background: white;
  border-radius: 8px;
  color: #F564A9;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 20px;
  width: 50%;
  border: none;
}

.btn-secondary:hover{
  background: rgb(255, 255, 255);
  color: #72727a;
}